.logo {
    margin-left: 40px;
}

#landing {
    width: 100%;
}

.container {
    width: 100%;
}

.img-fluid {
    padding: 10px 0px 0px 0px;
}

.title {
    padding: 100px 0px 0px 30px;
    font-size: 30px;
    text-align: left;


}

.title1 {
    padding: 20px 0px 0px 35px;
    font-size: 15px;
    text-align: left;

}

.btn-join {
    padding: 30px 0px 0px 50px;
    display: flex;

}

/* hero end */


.digi-img {

    width: 80%;
    padding: 110px 0px 0px 40px;
}

@media (max-width: 992px) {
    .digi-img {
        padding: 60px 0;
    }


}


.digital {
    padding: 100px 0px 0px 0px;
}

.digi-content {
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: "digi";

}

@font-face {
    font-family: "digi";
    src: url(Open_Sans/static/OpenSans-Regular.ttf);
}

@media (max-width: 992px) {
    .digi-content {
        padding: 40px 0;
    }

    .digital {
        padding: 30px 0;
    }

}




/* service */



.service-img {
    height: 280px;
    width: 70%;
    padding: 50px 0px 0px 0px;


}

.services {
    text-align: center;
    padding-top: 70px;
}
.marketing{
    padding-left: 200px;
}

.marketing1 {
    display: flex;
    
    align-items: center;
    align-content: center;
}

.service-name {
    padding-top: 10px;
    padding-left: 80px;
}

@media (max-width: 992px) {
    .service-img {
        padding: 40px 0;
    }

    .service-title {
        padding: 30px 0;


    }

}


/* contact... */
.contact-background {
    background-color: #DC4298;
    width: 100%;
    height: 350px;

    margin: 80px 0px 0px 0px;
}

.contact-content {
    text-align: left;
    padding-left: 70px;
    padding-top: 100px;
}

.girl {
    background-image: url(images/girl.png);
    height: 350px;


}

.btn-contact {
    margin-left: 70px;
    margin-top: 20px;
}

.foot {
    height: 280px;
    background-color: rgb(223, 220, 220);
    padding-top: 50px;
}

@media (max-width: 992px) {
    .foot {
        padding: 350px 0;
        background-color: rgb(223, 220, 220);
        height: 280px;

    }

}


.copyright {
    height: 50px;
    background-color: black;
}

.copy {}


.incan {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
}